@import '../scss/gloabals.scss';

$about_width: 256px;
$about_image_size: 256px;
.user-card {
  width: $about_width;
  // height: 2 * $about_width;
  background-color: $c_card;
  color: $c_light;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  .image {
    width: $about_width;
    height: $about_width;
    flex-shrink: 0;
  }
  .description {
    flex-grow: 1;
    padding: 2rem;
    .name {
      text-align: center;
      margin-bottom: 2rem;
    }
    .about-text {
      padding: 0;
      text-align: justify;
    }
  }
}
