*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Raleway', sans-serif;
}

#app {
  max-width: 250vh;
  overflow: hidden;
  margin: 0 auto;
}

.app-route {
  height: 100vh;

}